# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json

import os

# Import API key
from api_key import APIkey1

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
#get data from Part I
#DATOS = '../Weatherpy/WeaterBycity.csv'

#make DataFrame
data_df = pd.read_csv('../Weatherpy/WeaterBycity.csv')
data = data_df.drop(columns=['Unnamed: 0'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        553 non-null    object
 1   Country     551 non-null    object
 2   Lat         553 non-null    float64
 3   Lng         553 non-null    float64
 4   Cloudiness  553 non-null    int64
 5   Date        553 non-null    int64
 6   Humidity    553 non-null    int64
 7   Max Temp    553 non-null    float64
 8   Wind Speed  553 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 34.6+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
#Configure gmaps
gmaps.configure(api_key = APIkey1)

In [15]:
#set variables for gmaps
humidity = data['Humidity'].astype(float)
Max_humidity = humidity.max()
loc = data[["Lat","Lng"]]
fig = gmaps.figure()
heat_layer =  gmaps.heatmap_layer(loc,weights=humidity,dissipating=False, max_intensity=Max_humidity,point_radius=3)
#Add Heatmap layer to map.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#Narrow down the cities to fit weather conditions.(70<temp max<80,Wind speed <10, cloudiness ==0

ND_data = data.loc[(data["Wind Speed"] <= 10) & (data["Cloudiness"]== 0) & \
                  (data["Max Temp"] >= 294.261
                  ) & (data["Max Temp"] <= 299.817)].dropna()
ND_data.head()

,City,Country,Lat,Lng,Cloudiness,Date,Humidity,Max Temp,Wind Speed
53,Broken Hill,AU,-31.9500,141.4333,0,1619752241,27,297.15,4.63
113,Awjilah,LY,29.1081,21.2869,0,1619752269,15,299.14,4.27
125,Korla,CN,41.7597,86.1469,0,1619752274,12,298.58,1.37
178,Olinda,BR,-8.0089,-34.8553,0,1619752299,83,297.15,3.60
259,Inhambane,MZ,-23.8650,35.3833,0,1619752333,79,295.04,2.38

In [17]:
ND_data.reset_index(inplace=True)
del ND_data['index']
ND_data.head()

,City,Country,Lat,Lng,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,Broken Hill,AU,-31.9500,141.4333,0,1619752241,27,297.15,4.63
1,Awjilah,LY,29.1081,21.2869,0,1619752269,15,299.14,4.27
2,Korla,CN,41.7597,86.1469,0,1619752274,12,298.58,1.37
3,Olinda,BR,-8.0089,-34.8553,0,1619752299,83,297.15,3.60
4,Inhambane,MZ,-23.8650,35.3833,0,1619752333,79,295.04,2.38

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:

#variable for storing hotels names
Hotels5K = []
#loop throght lat, lng, city
for i in range(len(ND_data)):
    lat = ND_data.loc[i]['Lat']
    lng = ND_data.loc[i]['Lng']
    city= ND_data.loc[i]['City']
#Set parameters to search for hotels with 5000 meters.    
    conditionals = {
        'location':f'{lat},{lng}',
        'radius': 5000,
        'types': 'hotel',
        'key': APIkey1
    }
    
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=conditionals)
    print(base_url)
    print(conditionals)
    jsn = requested.json()
    try:
#Store the first Hotel result into the DataFrame.
        
        Hotels5K.append(jsn['results'][0]['name'])
    except:
#Add a "Hotel Name" column to the DataFrame

        Hotels5K.append("")
ND_data["Hotel Name"] = Hotels5K
ND_data = ND_data.dropna(how='any')
hotel_df= ND_data
hotel_df
print("Done!!")

https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '-31.95,141.4333', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '29.1081,21.2869', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '41.7597,86.1469', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '-8.0089,-34.8553', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '-23.865,35.3833', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '-38.2667,141.9667', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '-37.8333,140.7667', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
https://maps.googleapis.com/maps/api/place/nearbysearch/json
{'location': '38.9342,100.4517', 'radius': 5000, 'types': 'hotel', 'key': 'AIzaSyD_o3qBHfeM_c3DKP7MBYEKWlSKjcjKyP0'}
Done!!

In [19]:
hotel_df.to_csv('hotel_export.csv')

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))